
body{
  background-color: rgb(40, 40, 40);
}


.cardimage-container{
  max-width: 350px;
  background-color: #191a1b;
  border-radius: 10px;
  margin: auto;
  padding-bottom:20px;
  margin-top: 10px;
}

.card-image{
  width: 350px;
  height: 300px;
  border-radius: 10px;
  object-fit:cover;
}

h3, h5{
  font-family: Golos Text, sans-serif;
  margin: 10px;
  color: white;
  text-align: center;
}

p{
  font-family: Golos Text, sans-serif;
  margin: 10px;
  color: gray;
  font-size: small;
}

a{
  text-align: center;
  font-size: x-small;
  color: gray;
}

hr{
  border: 0.5px solid gray;
}

.image-div{
  text-align: center;
  
}

.github{
  padding: 5px;
  background-color: black;
  width: 70px;
  height: 25px;

  border-radius:4px;
  -webkit-filter: drop-shadow(2px 2px 2px  #222);
  filter: drop-shadow(2px 2px 2px #222);
}

.linkedin{
  margin-left: 10%;
  padding: 5px;
  background-color: white;  
  width: 70px;
  height: 25px;
  
  border-radius:4px;
  -webkit-filter: drop-shadow(5px 5px 5px  #222);
  filter: drop-shadow(5px 5px 5px #222);
}


